<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- <script type="text/javascript" src="semanticUI/js/semantic.min.js"/> -->
<!-- <link rel="stylesheet" th:href="@{/semanticUI/semantic.min.css}"> -->
<link rel="stylesheet" th:href="@{/tailwindcss/dist/output.css}">
<title>Title</title>
</head>
<body>


	<div class="my-5 antialiased text-gray-900 px-6">
	<div class="max-w-xl mx-auto py-12 divide-y md:max-w-xl">
	<div class="py-12">
		<button class="bg-cyan-600 hover:bg-cyan-700 text-white rounded-md px-3 py-1 mb-10 w-full" 
								th:type="button" 
								th:onclick="location.href='/'">index</button>
	
		<table class="m-auto w-full">
			<thead>
				<tr>
					<th class="border border-slate-600">Name</th>
					<th class="border border-slate-600">Age</th>
					<th class="border border-slate-600">Level</th>
					<th class="border border-slate-600">Active</th>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr th:each="customer : ${customers}"
					class="odd:bg-white even:bg-slate-200">
					<td class="border border-slate-700">
						<a th:text="| ${customer.firstName} ${customer.lastName}|" th:href="@{/customer/{id}(id=${customer.id})}"></a>
					</td>
					<td th:text="${customer.age}" class="border border-slate-700"></td>
					<td th:text="${customer.level}" class="border border-slate-700"></td>
					<td class="border border-slate-700">
						<!-- <i th:if="${customer.active == true}" class="large green checkmark icon"></i> -->
						<svg th:if="${customer.active == true}" xmlns="http://www.w3.org/2000/svg" class="h-5 w-10 stroke-3 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    					<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<button class="bg-cyan-600 hover:bg-cyan-700 text-white rounded-md px-3 py-1 mb-10 w-full" 
								th:type="button" 
								th:onclick="location.href='/customer/sign-up'">Sign up</button>
	</div>
	</div>
	</div>

</body>
</html>